button {
    width: 50px;
    height: 50px;
    background-color: #1b1b1b;
    color: #ffd700;
    border: solid 1px #ffd700;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}

button:active:not(.empty) {
    background-color: #ffd700;
    color: #1b1b1b;
    transition: 150ms;
}

.number:focus, .operator:focus, .empty:focus {
    outline: 0;
}


button:nth-child(4), button:nth-child(8), button:nth-child(12), button:nth-child(16), button:nth-child(20) {
    font-size: 20px;
}



@media screen and (max-width: 960px) {
    #calc {
        top: 13vh;
    }

    button {
        width: 50px;
        height: 50px;
    }
}