#calc-container {
    margin: auto;
    width: 100vw;
    height: 550px;
    /* border: 2px solid black;
    border-radius: 4px; */
}

#calc {
    width: 320px;
    height: auto;
    margin: 0 auto;
    top: 8vh;
    position: relative;
    border-radius: 1em;
    /* box-shadow: 0 8px 12px 0 rgba(0, 0, 255, 0.2), 0 10px 24px 0 rgba(0, 0, 255, 0.19); */
    
}

#keys {
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    background-color: #1b1b1b;
    border-radius: 0 0 1em 1em;
    border: 3px solid #a1a1a1;
}

#result {
    height: 120px;
    background-color: #1b1b1b;
    border-radius: 1em 1em 0px 0px;
    border: 3px solid #a1a1a1;
    border-bottom: none;
}

#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #b3b3b3;
}

#output {
    color: white;
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}



@media screen and (max-width: 960px) {
    #calc {
        top: 13vh;
    }

    button {
        width: 50px;
        height: 50px;
    }
}