#calc-container {
    margin: auto;
    width: 100vw;
    height: 550px;
    /* border: 2px solid black;
    border-radius: 4px; */
}

#calc {
    width: 320px;
    height: 520px;
    margin: 0 auto;
    top: 8vh;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 255, 0.2), 0 10px 24px 0 rgba(0, 0, 255, 0.19);
}

#result:hover {
    background-color: lightblue;
    transition: 0.25s;
}

#result {
    height: 120px;
    background-color: #ccc9f3;
    border-radius: 1em 1em 0px 0px;
}

#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #727272;
}

#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

#keys {
    height: 60vh;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    background-color: #e1e0ef;
    border-radius: 0 0 1em 1em;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}

.number, .empty {
    background-color: #e1e0ef;
}

button:active {
    background-color: #1100ff;
    color: white;
    transition: 150ms;
}

.number:focus, .operator:focus, .empty:focus {
    outline: 0;
}

/* button:nth-child(4) {
    font-size: 20px;
    background-color: #20b2aa;
}

button:nth-child(8) {
    font-size: 20px;
    background-color: #ffa500;
}

button:nth-child(12) {
    font-size: 20px;
    background-color: #f08080;
} */

button:nth-child(4), button:nth-child(8), button:nth-child(12), button:nth-child(16), button:nth-child(20) {
    font-size: 20px;
    background-color: #7d93e0;
}

/* button:nth-child(20) {
    font-size: 20px;
    background-color: #9477af;
} */

@media screen and (max-width: 960px) {
    #calc {
        top: 13vh;
    }

    button {
        width: 50px;
        height: 50px;
    }
}