#trig-container {
    position: relative;
    margin: auto;
    width: 500px;
    height: 70vh;
    background-color: #1b1b1b;
    border: 2px solid #a1a1a1;
    color: white;
    border-radius: 1em;
}

.trig-value-row {
    position: relative;
    background-color: #252525;
    color: white;
    width: 100%;
    border-bottom: 1px solid rgb(49, 49, 49);
    height: 35px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input {
    border-radius: 0.25em;
    text-align: right;
    border: none;
    font: inherit;
}

input:focus {
    outline: none;
}

#degrees {
    text-decoration: dotted;
}